* {
    padding: 0;
    margin: 0;
}

.boxes {
    display: inline-block;
    vertical-align: top;
    /* border: 3px solid red; */
}

.main-wrapper {
    width: 100%;
    background-color: white;
}

.header {
    background-image: url("/img/fondo-header.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 110px;
    vertical-align: top;
    display: inline-block;
    padding: 5px;

}

.header-boxes {
    display: inline-block;
    vertical-align: top;
}

.logo-box {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-image: url("/img/logo-vidaintegra.png");
    background-repeat: no-repeat;
    width: 470px;
    height: 72px;
    margin-left: 171px;
    margin-top: 20px;
    padding: 0;
}

.icon-box{
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
}

.icon-boxes{
    display: inline-block;
    vertical-align: top;
    margin: 30px 0px 0px 314px;
}

.nav-box {
    background-color: #3d3d70;
    width: 100%;
    display: inline-block;
    height: 50px;
}

.icon-house {
    text-decoration: none;
    display: inline-block;
    margin-top: 14px;
    vertical-align: top;
    margin-left: 178px;
}

.nav-menu-box {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 60px;
}

.nav-box ul {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;

}

.nav-box li {
    text-decoration: none;
    display: inline;
    color: white;
    margin-right: 47px;
    font-size: 17px;
    font-family: Helvetica;
}

.left-nav {
    display: inline-block;
    vertical-align: top;
    width: 226px;
    height: 500px;
    margin-left: 164px;
    padding-top: 15px;  
}

.left-nav-box {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    height: 71px;
    margin: 0px;
    align-content: center;
    margin-bottom: 10px;
}

.blue {
    background-color: #3e6bb2;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Antonio', sans-serif;

}

.light-blue {
    background-color: #26adee;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
}

.center-content {
    width: 517px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

.img-center {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

.h1-reserva {
    color: #0d57a3;
    font-size: 40px;
    margin-left: 15px;
    font-weight: normal;
    margin-top: 5px;
    border-bottom: 1px solid #0057a3;
    line-height: 45px;
    font-family: Helvetica;
}

.hours-search-box {
    width: 490px;
    height: 528px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #0d57a3;
    margin-top: 15px;
    margin-left: 15px;
}

.input-run {
    width: 440px;
    height: 31px;
    margin-top: 35px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-color: #ccc;
}

.input-run::placeholder {
    padding-left: 15px;
}

.search-btn {
    margin: 15px 0px 15px 15px;
    background-color: #376288;
    text-decoration: none;
    border: black 2px;
    color: white;
    padding: 3px;
    width: 440px;
    height: 44px;
    border-radius: 5px;
}

.search-btn a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.input-run,p {
    font-size: 10px;
    margin-left: 15px;
}

.ancla-reg {
    text-decoration: none;
    color: #347ab7;
    align-content: center;
    margin: 15px 0px 15px 210px;
    display: inline-block;
    vertical-align: top;
}
.right-nav-boxes{
    display: inline-block;
    vertical-align: top;
    width: 200px;

    }
    .right-nav-box-1{
        display: inline-block;
        vertical-align: top;
        align-content: center;
        width: 167px;
        height: 53px;
        margin: 0px 0px 0px 15px;
    }
    .right-nav-box-2{
        display: inline-block;
        vertical-align: top;
        align-content: center;
        width: 167px;
        height: 35px;
        margin: 0px 0px 0px 15px;
    }

    .blue-right{
        background-color: #3e6bb2;
        color: white;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        font-weight: normal;
        font-family: 'Antonio', sans-serif;

    }
    .gris-right{
        background-color: #d2d2d4;
        color: white;
        text-align: center;
        font-size: 10px;
        font-family: 'Antonio', sans-serif;
    }
    .gris-right, h3{
        margin-top: 10px;
    }